# Created by .ignore support plugin (hsz.mobi)
### Magento template
#--------------------------#
# Magento Default Files    #
#--------------------------#

.idea/codeStyleSettings.xml
.idea/magetest.dev.iml
.idea/magicento.xml
.idea/magicento/
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/workspace.xml
media/captcha/
media/css/
media/css_secure/
media/custom_options/order/
media/import/
media/js/
media/tmp/catalog/product/m/
media/tmp/catalog/product/s/
media/tmp/wrapping/
var/cache/
var/log/
var/session/

app/etc/local.xml
.htaccess
.idea/
api.php
app/.htaccess
app/Mage.php
app/bootstrap.php
app/code/community/
app/code/core/
app/design/adminhtml/default/default/etc/
app/design/adminhtml/default/default/layout/admin.xml
app/design/adminhtml/default/default/layout/adminnotification.xml
app/design/adminhtml/default/default/layout/api2.xml
app/design/adminhtml/default/default/layout/authorizenet.xml
app/design/adminhtml/default/default/layout/bundle.xml
app/design/adminhtml/default/default/layout/captcha.xml
app/design/adminhtml/default/default/layout/catalog.xml
app/design/adminhtml/default/default/layout/centinel.xml
app/design/adminhtml/default/default/layout/cms.xml
app/design/adminhtml/default/default/layout/compiler.xml
app/design/adminhtml/default/default/layout/connect.xml
app/design/adminhtml/default/default/layout/currencysymbol.xml
app/design/adminhtml/default/default/layout/customer.xml
app/design/adminhtml/default/default/layout/dataflow.xml
app/design/adminhtml/default/default/layout/downloadable.xml
app/design/adminhtml/default/default/layout/giftmessage.xml
app/design/adminhtml/default/default/layout/importexport.xml
app/design/adminhtml/default/default/layout/index.xml
app/design/adminhtml/default/default/layout/main.xml
app/design/adminhtml/default/default/layout/moneybookers.xml
app/design/adminhtml/default/default/layout/newsletter.xml
app/design/adminhtml/default/default/layout/oauth.xml
app/design/adminhtml/default/default/layout/pagecache.xml
app/design/adminhtml/default/default/layout/promo.xml
app/design/adminhtml/default/default/layout/report.xml
app/design/adminhtml/default/default/layout/rss.xml
app/design/adminhtml/default/default/layout/sales.xml
app/design/adminhtml/default/default/layout/search.xml
app/design/adminhtml/default/default/layout/tag.xml
app/design/adminhtml/default/default/layout/tax.xml
app/design/adminhtml/default/default/layout/widget.xml
app/design/adminhtml/default/default/layout/xmlconnect.xml
app/design/adminhtml/default/default/locale/
app/design/adminhtml/default/default/template/access_denied.phtml
app/design/adminhtml/default/default/template/api/
app/design/adminhtml/default/default/template/api2/
app/design/adminhtml/default/default/template/authorizenet/
app/design/adminhtml/default/default/template/backup/
app/design/adminhtml/default/default/template/bundle/
app/design/adminhtml/default/default/template/captcha/
app/design/adminhtml/default/default/template/catalog/
app/design/adminhtml/default/default/template/centinel/
app/design/adminhtml/default/default/template/cms/
app/design/adminhtml/default/default/template/coming.phtml
app/design/adminhtml/default/default/template/compiler/
app/design/adminhtml/default/default/template/connect/
app/design/adminhtml/default/default/template/currencysymbol/
app/design/adminhtml/default/default/template/customer/
app/design/adminhtml/default/default/template/dashboard/
app/design/adminhtml/default/default/template/directory/
app/design/adminhtml/default/default/template/downloadable/
app/design/adminhtml/default/default/template/eav/
app/design/adminhtml/default/default/template/email/
app/design/adminhtml/default/default/template/empty.phtml
app/design/adminhtml/default/default/template/example.phtml
app/design/adminhtml/default/default/template/forgotpassword.phtml
app/design/adminhtml/default/default/template/formkey.phtml
app/design/adminhtml/default/default/template/giftmessage/
app/design/adminhtml/default/default/template/googlebase/
app/design/adminhtml/default/default/template/importexport/
app/design/adminhtml/default/default/template/index/
app/design/adminhtml/default/default/template/login.phtml
app/design/adminhtml/default/default/template/media/
app/design/adminhtml/default/default/template/moneybookers/
app/design/adminhtml/default/default/template/newsletter/
app/design/adminhtml/default/default/template/notification/
app/design/adminhtml/default/default/template/oauth/
app/design/adminhtml/default/default/template/overlay_popup.phtml
app/design/adminhtml/default/default/template/page.phtml
app/design/adminhtml/default/default/template/page/
app/design/adminhtml/default/default/template/pagecache/
app/design/adminhtml/default/default/template/paygate/
app/design/adminhtml/default/default/template/payment/
app/design/adminhtml/default/default/template/paypal/
app/design/adminhtml/default/default/template/permissions/
app/design/adminhtml/default/default/template/poll/
app/design/adminhtml/default/default/template/popup.phtml
app/design/adminhtml/default/default/template/promo/
app/design/adminhtml/default/default/template/rating/
app/design/adminhtml/default/default/template/report/
app/design/adminhtml/default/default/template/resetforgottenpassword.phtml
app/design/adminhtml/default/default/template/review/
app/design/adminhtml/default/default/template/sales/
app/design/adminhtml/default/default/template/store/
app/design/adminhtml/default/default/template/system/
app/design/adminhtml/default/default/template/tag/
app/design/adminhtml/default/default/template/tax/
app/design/adminhtml/default/default/template/urlrewrite/
app/design/adminhtml/default/default/template/usa/
app/design/adminhtml/default/default/template/weee/
app/design/adminhtml/default/default/template/widget/
app/design/adminhtml/default/default/template/xmlconnect/
app/design/frontend/
app/design/install/
app/etc/config.xml
app/etc/local.xml.additional
app/etc/local.xml.template
app/etc/modules/Cm_RedisSession.xml
app/etc/modules/Mage_All.xml
app/etc/modules/Mage_Api.xml
app/etc/modules/Mage_Api2.xml
app/etc/modules/Mage_Authorizenet.xml
app/etc/modules/Mage_Bundle.xml
app/etc/modules/Mage_Captcha.xml
app/etc/modules/Mage_Centinel.xml
app/etc/modules/Mage_Compiler.xml
app/etc/modules/Mage_ConfigurableSwatches.xml
app/etc/modules/Mage_Connect.xml
app/etc/modules/Mage_CurrencySymbol.xml
app/etc/modules/Mage_Downloadable.xml
app/etc/modules/Mage_ImportExport.xml
app/etc/modules/Mage_Oauth.xml
app/etc/modules/Mage_PageCache.xml
app/etc/modules/Mage_Persistent.xml
app/etc/modules/Mage_Weee.xml
app/etc/modules/Mage_Widget.xml
app/etc/modules/Mage_XmlConnect.xml
app/etc/modules/Phoenix_Moneybookers.xml
app/locale/
cron.php
cron.sh
dev/
downloader/
errors/
favicon.ico
get.php
includes/
index.php
install.php
js/
lib/
mage
media/
shell/
skin/
var/

sh
ell/
